[2017-11-20 20:14] mikeselander opened #13 "Remove bower"
It appears that bower is no longer being used in builds - we should remove it and update the build steps.

[2017-11-20 21:17] mikeselander opened #15 "Make all color codes use their variables"
We have loads of colors that are statically pasted, instead of using the appropriate variables.

[2017-11-20 21:18] mikeselander opened #16 "Use media query mixins instead of static media-queries repeated"

[2017-11-20 21:19] mikeselander opened #17 "Add browserlist"
Once we have a defined set of browser requirements, add a browserlist that the compiler can use to make intelligent autopreifinx decisions.

[2017-11-20 21:20] mikeselander opened #18 "Eliminate sprite"
Sprite are not particularly useful tools in a modern build on servers that can support concurrent downloads - we should use SVGs or fa icons.

[2017-11-20 21:25] mikeselander opened #19 "Break up scss files better"
There are a few minor issues that can be avoided with the current file organization:
 - Several .scss files are 500+ lines, which is an indication of a too-large file
 - The classes do not reflect a BEM or modular based naming system, and the large files allow for worse organization -
 - Several files have nothing in them and appear to have no purpose

Therefore, we can do this a bit more organize

[2017-11-20 21:39] 27Bslash6 commented on #18
Agreed, will add that I'm advocating installation of Google Pagespeed module in infrastructure which will likely further enhance this approach by converting small images to data-uris, further reducing FOUC / re-layout.

Currently in use at https://docker.p4.greenpeace.org/

[2017-11-20 22:29] mikeselander opened #20 "Maybe remove HTML markup at the top of the SCSS files"
Question of opinion:

We have these massive HTML blobs at the top of the SCSS files.

I see a few problems with this:
1. It massively pollutes the files and makes it so that you have to scroll an indeterminate amount to get to the real, actual code
2. You have to maintain 2 copies of the HTML - one in the actual HTML, and one in the SCSS files
3. We're likely going to dump this once it hits the WP

[2017-11-20 23:05] kadamwhite commented on #20
I’m in favor of removing, though it might help to ask why it came to be this way

[2017-11-21 01:51] 27Bslash6 commented on #20
I believe the principle was HTML was added as templates for implementation since front-end HTML+CSS design was isolated from implementation.  @koyan will know if it's still necessary.

[2017-11-21 06:51] koyan commented on #20
It was indeed added there only so that backend developers knew what markup to implement in the related plugins/theme. It is not meant to stay there past implementation

[2017-11-21 07:05] ashish173 commented on #20
@mikeselander Yes, since in the beginning it was very difficult for devs to track the markup for multiple blocks on multiple pages as there is reuse etc. so I came up with this solution for backend devs that the commented markup in scss file should be the single point of truth when it comes to complete markup.

Also, we have in case of header block some code not showing in the .html file for custo

[2017-11-21 18:28] kadamwhite opened #27 "Reduce the number of distinct colors?"
As noted in #15 & #21, this project uses a large number of individual color values. We would normally expect a more limited palette (for consistency, to strengthen visual branding and to make potential future adjustments more straightforward).

@iamjessklein has indicated that William Morris-Julien is responsible for the visual design, so we should coordinate to discuss the coloring and identify i

[2017-11-21 18:53] kadamwhite opened #29 "Code Style: Consider switching to tabs in SCSS and JS files"
Currently the files in this repository are indented with spaces.

The WordPress coding standards prefer tabs for indentation, and tabs are the default in the [planet4-master-theme `.editorconfig` file](https://github.com/greenpeace/planet4-master-theme/blob/master/.editorconfig). Once this repository is close to stable & complete, we could consider switching to tabs here as well all at once.

[2017-11-21 19:28] #16 closed

[2017-11-21 19:44] mikeselander commented on #27
FFR we now have a standard color palette document that we can use to standardise colors and enforce standards around.

[2017-11-21 19:53] mikeselander commented on #27
My plan moving forward is the following:

1. Get a greys palette from Will & Vini - coming tomorrow, 11/22
2. Add all colors in the palette as variables with a color-type name. i.e.: `blue-dark` or simply `orange`
3. Remove all color codes that are not in the variables file and assigned a color name - use a variable for any color. This could be a variable that references a color or the direct colo

[2017-11-21 22:45] mikeselander opened #32 "Maybe Remove Built Files"
**Question for all:**
Are the static, built CSS & JS files used, beyond styling the local site for testing?

We have several built files in the repo - this is generally considered bad practice as merge conflicts are more likely, and keeping track of the source files only and building files as a part of the deploy process is cleaner. Additionally, it mucks up diff rates and means that git always th

[2017-11-21 22:55] 27Bslash6 commented on #32
Good question, at what point are these files integrated into the master theme?

[2017-11-23 00:17] mikeselander commented on #20
Thanks for the feedback guys - good to know the background. I don't have a clear picture on whether this is still used or if we're treating the HTML as the source of truth. I would advocate for the actual HTML markup as the source of truth since it's being actively tested against but understand if that's not ideal.

[2017-11-23 00:18] mikeselander commented on #17
Resolved by #30

[2017-11-23 00:18] #17 closed

[2017-11-23 07:54] koyan commented on #20
The developers can bear the weight of taking the markup from the html (instead of the top of the scss file). So, please go on and remove it (the least places we have duplication, the better).

[2017-11-24 20:14] #20 closed

[2017-11-28 01:10] mikeselander opened #43 "Greenpeace logo is fuzzy"
<img width="191" alt="screen shot 2017-11-27 at 3 26 28 pm" src="https://user-images.githubusercontent.com/3021494/33297430-d4210332-d395-11e7-9548-991e68dc0115.png">

The Greenpeace logo is quite fuzzy on hi-DPI screens. This would be better as an SVG and also easier to style/control.

[2017-11-28 21:08] mikeselander opened #44 "Issue page Browser Testing"
All tested on Chrome

**Overall:**
 - Missing Happy action box
 - Missing "In the News" block
 - Lots of all-caps text - CSS should be handling all-caps, the text in the DOM should be appropriately capitalized
 - I was told that yellow share buttons were being replaced by Share This and to get rid of all yellow-button styles.
 - Whole campaign blocks should link imo
 - Publications aren't linking

[2017-11-28 22:53] alexcavender commented on #44
@mikeselander What is the Happy action box?

[2017-11-28 22:55] mikeselander commented on #44
@alexcavender the action alert section at the end of the page:

![screen shot 2017-11-28 at 2 54 59 pm](https://user-images.githubusercontent.com/3021494/33348681-252895ae-d44c-11e7-81a1-0637a50c835a.png)

[2017-11-28 22:55] alexcavender commented on #44
@mikeselander Thank you! perfecto

[2017-11-28 23:36] alexcavender commented on #44
- [ ] Add Happy Action block

[2017-11-29 07:16] koyan commented on #44
@alexcavender and @mikeselander
The happy action box has been replaced by action fields. The latest designs can be seen at:
https://jira.greenpeace.org/browse/PLANET-1398?jql=text%20~%20%22engaging%20network%20fields%22%20and%20project%20%3D%20Planet4%20

Currently this has been implemented with an iframed form from the vendor: (check bottom of page of: http://dev.p4.greenpeace.org/ )
At a later s

[2017-11-29 07:17] koyan commented on #44
It was decided by the product owner that since we are using the form directly, we are dropping the action box functionality

[2017-11-29 14:31] alexcavender commented on #44
@koyan Thanks I will implement the iFrame here

[2017-11-29 16:22] alexcavender commented on #44
@mikeselander This might also be a question for @koyan
The Static four column block on mobile appears to be a Slideshow -- is there already an approved slider library like FlexSlider or Slick Slider that I should use for this?
Thanks

[2017-11-29 18:26] mikeselander opened #50 "Address Buttons"
Button colors, spacings, and heights look to be pretty severely off across most of the site and breakpoints. Since this affects all pages, we should look at this wholistically instead of alongside a single page.

[2017-11-29 18:28] mikeselander opened #51 "Look into `object-fit` Usage"
`object-fit` is used in multiple places across the site, but it's not supported in early versions of Edge or IE11 as pointed out by @kadamwhite. We can probably get by without this rule so let's take a look at these usages and adjust where we can.

[2017-11-30 11:21] ashish173 commented on #44
@alexcavender so far we have not used any libs as such, I have used the bootstrap carousel so far.

[2017-11-30 14:08] alexcavender commented on #44
@ashish173 Ok thank you

[2017-12-01 13:23] viniromualdo opened #60 "Home page review"
Hey all, I'll be posting reviews for each screen size of Home here. So far I got for you S and XL sizes.
I screenshoted the published page and added comments in the pdf directly to make it as straight-forward as possible. Whoever will be taking this down (as assigned by Adrian) please see the attached files.
[Home_S.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1521705/Home_S

[2017-12-01 15:01] ashish173 commented on #60
@viniromualdo this is not the latest design which I have pushed in the `gh-pages` branch for the final review. I see the background colour as green, which I had removed in favour of new gradient. We need to figure out the correct merge for `home_page_2`.

[2017-12-01 15:16] ashish173 commented on #60
@viniromualdo @mcshanea for XL I have done all these fixes, just need to fix the merge issue.

[2017-12-04 09:41] ashish173 commented on #44
@alexcavender regarding your comment for implementing iFrame, it has already been done. Please chat with me if there is any confusion.

[2017-12-04 10:44] viniromualdo commented on #60
@ashish173 are they published in presentation layer? Right now I don't see these fixes in XL.

[2017-12-04 11:35] koyan opened #65 "Buttons at content two column don't have a target url"
https://github.com/greenpeace/planet4-presentation-layer/blob/revert_home_page/home.html#L802
` <button class="btn btn-light-blue btn-normal">Explore the issues</button>`
Where do we put the target url in this markup?

[2017-12-04 16:46] mikeselander commented on #65
@koyan `<button>`s aren't generally intended for linking - this should probably be an `<a>` tag instead.

[2017-12-04 16:52] koyan commented on #65
@mikeselander we have already changed it to <a> tag. We should have closed this issue.

[2017-12-04 16:52] #65 closed

[2017-12-04 22:10] #32 closed

[2017-12-05 10:23] mcshanea opened #67 "ACT questions on integration with backend"
1) As we see it, the background is applied to the header block , and not to the whole page. But this means that if the header block itself is smaller (because there is not such a big text) or bigger, then the background will not look good. Shouldn't it be applied to the whole page instead?
2) The image itself has the gradient effect. Is the gradient effect going to be needed to be made by the edit

[2017-12-05 10:24] koyan commented on #67
Question by me (please answer @ me)

[2017-12-05 11:37] viniromualdo commented on #60
Second round of review on home_S
[Home_S_v2.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1530976/Home_S_v2.pdf)

for happy point comment in pdf, refer to this image
![happypoint_s](https://user-images.githubusercontent.com/12191933/33605214-0af8f9d6-d9b9-11e7-90fb-df569f51af61.jpg)

[2017-12-05 11:58] WillMorrisJulien opened #68 "ACT / Covers"
Hey all, I'll be posting reviews for Act covers here.

[2017-12-05 12:00] WillMorrisJulien commented on #68
There appears to be a problem with Chrome loading the responsive content CSS. This leads to the content font not resizing for M and S. See attached image.
![small_size_font_anomaly](https://user-images.githubusercontent.com/34244772/33606001-d4f904b6-d9b3-11e7-8fea-06838cac211c.jpg)

[2017-12-05 12:04] WillMorrisJulien commented on #68
Hash tag above the cover title is incorrect in passive state. It should have no left padding. See roll-over state to see the correct placement.

[2017-12-05 12:10] WillMorrisJulien commented on #68
There appears to be anomaly in the breakpoints. We get a strange formatting issue between M & L (See image) and between S & L (see image). We need for it to go straight from L to M and then from M to S. Without any variations between.
![cover_betweetn_s m](https://user-images.githubusercontent.com/34244772/33606359-23ab48c0-d9b5-11e7-8b12-2edce7cca881.jpg)
![cover_betweetn_m l](https://user-images

[2017-12-05 14:01] sagarsdeshmukh opened #69 "Issue page / Campaign thumbnail block"
Hi

In campaign thumbnail block - I see a href attribute inside span element

 `<span class="yellow-cta" href="#">`

why is this inside span element ?

[2017-12-05 16:40] mikeselander commented on #67
Acknowledging these questions and will answer them tomorrow mid-PST.

[2017-12-06 08:06] koyan opened #75 "Accomodate for wordpress admin bar"
When the css is transfered to the wordpress theme, and when a logged in admin looks at the front of the website, the wordpress admin bar covers part of the header/navigation bar, and pushes the reset of the design down
![screen shot 2017-12-06 at 10 03 16](https://user-images.githubusercontent.com/2528229/33650989-ddc6038c-da6c-11e7-85da-f18896b29e66.png)
The theme should not break when the wordpr

[2017-12-06 08:08] koyan commented on #75
(Related article: https://www.sitepoint.com/getting-sticky-headers-wordpress-admin-bar-behave/ )

[2017-12-06 09:13] viniromualdo commented on #60
More tweaks for all sizes:
- credit color should be #666666
- the background behind the caption on the middle carousel should be dynamic (increase/decrease accordingly with lines of text)

[2017-12-06 09:46] WillMorrisJulien commented on #68
Roll over for non evergreen cover's (these covers shown) should be 50% #ffffff not green.

[2017-12-06 10:47] WillMorrisJulien commented on #68
Type size and colour for roll over state of Take Action covers should be as follows -
For L & XL the heading : 1.75rem colour : #191919
For L & XL the body text : 1.125rem colour : #191919 Line height : 1.6

The style sheet for Small and Medium are not loading however they should be -
For S & M the heading : 1.5rem colour : #191919
For S & M the body text : 1rem colour : #191919  Line height : 1.3

[2017-12-06 13:53] ashish173 opened #76 "Remove all letter spacing properties"
@viniromualdo has requested in #60 to remove the letter spacings of all sorts, creating an issue and a new PR should follow for this change.

cc: @mikeselander @pdewouters @mcshanea

[2017-12-06 13:54] ashish173 commented on #60
@viniromualdo I'll be changing the colour in the branch(point 1), also changing the behaviour of the caption,

For third request, I have created an issue #76 and it will done in a separate PR.

[2017-12-06 14:34] viniromualdo commented on #60
Reviews on home_L, out of the oven @ashish173
[home_L_v2.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1535502/home_L_v2.pdf)

[2017-12-06 15:41] viniromualdo opened #77 "Home page / HP Slide"
Image ratio for all screen sizes should now be 1.85:1
I also believe HP Slide now equals to Take Action Slide, since it's been simplified to not have the diagonal on it anymore. Not sure how backend wants to handle this (unifying the blocks or not), but frontend should be just one styling and ratio for both.

[2017-12-07 00:18] mikeselander commented on #67
@koyan can you please elaborate on this requirement and how it will work in the backend? How will we be applying multiple background images to a single page? This affects how we style this.

[2017-12-07 00:24] mikeselander commented on #44
@alexcavender can we now close this PR since #52 is merged?

[2017-12-07 06:47] koyan commented on #67
As per @mcshanea original instructions all the pages that we defined would be served as "Wordpress pages" (aka, most of the things you design for, except mainly posts and 404). These included act, take-action, issue, evergreen, homepage etc. The instructions we were working on was that what would make a page be different from an other one, would be what blocks an editor chose to put in it. And sin

[2017-12-07 09:06] ashish173 opened #78 "Fallback strategy for background gradient on pages."
I have removed the background colour property which was supposed to be a fallback option as it was conflicting with the home page gradient in PR #64

Work on it with a proper strategy so that it doesn't conflict with gradients.

[2017-12-07 20:17] mikeselander commented on #78
I was thinking about this particular issue and how we're going to work with backend-created color codes and I think that CSS variables defined in the PHP-side are the answer to this.

As I understand it, we'll need to be able to modify the header, footer, body backgrounds along with gradient values, CSS gradient over the body background image, and a few other places that I think we haven't even ye

[2017-12-07 20:18] mikeselander commented on #78
CCing @kadamwhite and @Kluny on the above.

[2017-12-08 08:03] viniromualdo opened #80 "Remove hyphenation from everywhere"
I see it in Home

[2017-12-08 09:28] viniromualdo commented on #60
Reviews on home_M ready, @ashish173
[home_M.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1542139/home_M.pdf)

[2017-12-08 10:37] WillMorrisJulien opened #81 "ACT/Header"
I will be reviewing the header block from the ACT page here.

[2017-12-08 10:39] WillMorrisJulien opened #82 "ISSUES/Content_3_column"
I will be reviewing the Issue / Content 3 Column here.

[2017-12-08 10:40] WillMorrisJulien opened #83 "ISSUES / Media"
I will be reviewing Issues / Media block here.

[2017-12-08 11:51] WillMorrisJulien commented on #81
Here are the correct type sizes and their line hight. Also the vertical spacing for the button.
![header_corrections](https://user-images.githubusercontent.com/34244772/33764840-21fd4e82-dc0e-11e7-9ae3-cea7a1ebc26a.jpg)

[2017-12-08 13:51] koyan opened #84 "HOME: Carousel header. Secondary image gets scewed"
In the homepage, in the top carousel (Block: Carousel Header), the same image appears ok on the left side, but gets screwed (tilting, and I think stretching?) when it moves to the smaller right position
![screen shot 2017-12-08 at 15 43 43](https://user-images.githubusercontent.com/2528229/33768604-584c136c-dc2f-11e7-839a-706e491721b7.png)
![screen shot 2017-12-08 at 15 43 36](https://user-images.

[2017-12-08 15:00] viniromualdo opened #85 "Issues page / Breakpoint problems"
For blocks in Issue's page there are a few odd breakpoints that should not exist like at:
- 1024px
- 1200px
- 1538px

I believe we defined our breakpoints as:
S: up to 768px
M: up to 992px
L: up to 1480px
XL: >1480px

[2017-12-08 15:04] WillMorrisJulien commented on #85
There extra break points in Act as well. I flagged those up earlier this week.

[2017-12-08 16:12] WillMorrisJulien commented on #83
This block is not full screen.

[2017-12-08 16:15] WillMorrisJulien commented on #83
I will re-design the media block so it has the right angle.

[2017-12-08 16:17] viniromualdo opened #86 "Issues Page / Media Video"
Reviewed Media Video block, comments are added directly on top of the points that need fix, in the pdfs according to screensize:

[Issue_M-Media_Video.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1543187/Issue_M-Media_Video.pdf)
[Issue_S-Media_Video.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1543188/Issue_S-Media_Video.pdf)
[Issues_L-Media_Video.pdf]

[2017-12-08 19:13] mikeselander commented on #85
I will take this on and remove any extraneous breakpoints used in the codebase.

[2017-12-08 19:17] mikeselander commented on #76
I just did a whole-project search and couldn't find any instances of `letter-spacing` being used. I remove the `h1` style in #54 so I believe that this is complete.

[2017-12-08 19:17] #76 closed

[2017-12-08 20:26] mikeselander commented on #85
FYI I've removed the `1024`, `1200`, and `1538` breakpoints in #90 but am keeping an extra smaller breakpoint of `575` around as we have a need for a smaller, intermediate styleset.

[2017-12-08 22:44] mikeselander commented on #69
Good catch @sagarsdeshmukh those shouldn't have the `href` attribute and the whole block has an `a` around it. We're removing the attributes from the markup.

[2017-12-08 22:45] #44 closed

[2017-12-08 23:40] mikeselander opened #94 "Add Deploy Script for `gh-pages`"

[2017-12-09 01:35] mikeselander commented on #43
@kadamwhite I think this will do for an SVG - let me know if something is wrong.

[gp-logo.svg.zip](https://github.com/greenpeace/planet4-presentation-layer/files/1544252/gp-logo.svg.zip)

[2017-12-11 07:06] mcshanea commented on #67
On b) I can't find an example where this is the case i.e. all pages with a background image also have a header, and the background image takes the underlying space that the header provides (therefore it suggests a symbiosis). Am I missing one?

[2017-12-11 07:47] koyan commented on #67
@mcshanea
Take action page: https://drive.google.com/drive/u/0/folders/0B-hrpY3C01WJbE5fbGpGQkxNanM

[2017-12-11 07:55] mcshanea commented on #67
There's still a header, it's just a shorter one with only the tags and the title. So the question might be can the background image bleed across other blocks (because the second is a separate block and sits on top). If that's not possible maybe it needs to be lifted out as you suggest.

[2017-12-11 07:58] koyan commented on #67
If the product owner has no problem with it, I have no problem with it.

[2017-12-11 11:13] viniromualdo commented on #85
fantastic, thanks!

[2017-12-11 17:47] viniromualdo opened #95 "Issues page / Content Four Column"
Reviewed in each screen here:
[Issue_M-Content_4_cols.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1548796/Issue_M-Content_4_cols.pdf)
[Issue_S-Content_4_cols.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1548797/Issue_S-Content_4_cols.pdf)
[Issues_L-Content_4_Cols.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1548798/Issues_L-Cont

[2017-12-12 00:40] #80 closed

[2017-12-12 03:45] #75 closed

[2017-12-12 10:48] WillMorrisJulien commented on #83
I have updated the infographic block - Changed the angles, typographic colours (to default) and most importantly made the background transparent so it works with any theme (Or should do... I reserve the right to tweak lighter colours if need be).

https://drive.google.com/open?id=15lc17QH4X27Yscczu_Bt4O9ITkcBXzGE

[2017-12-12 15:46] viniromualdo opened #99 "Issues Page / Campaign Thumbnail"
Reviewed, just a few minor tweaks:
[Issue_M-Campaign_Thumbnails.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1552210/Issue_M-Campaign_Thumbnails.pdf)
[Issue_S-Campaign_Thumbnails.pdf](https://github.com/greenpeace/planet4-presentation-layer/files/1552211/Issue_S-Campaign_Thumbnails.pdf)
[Issues_L-Campaign_Thumbnails.pdf](https://github.com/greenpeace/planet4-presentation-lay

[2017-12-12 16:08] WillMorrisJulien commented on #83
When it's uploaded to dev... for some reason it goes to the back. http://dev.p4.greenpeace.org/act/detox-catwalk

[2017-12-12 20:28] #50 closed

[2017-12-13 09:00] koyan opened #104 "Home Page / Rename body class from home-page-bg to home"
Currently in the presentation layer the homepage body has the class "home-page-bg"
But wordpress gives by default to the homepage the class "home"

https://www.bellinghamwp.com/wordpress-css/wordpress-customize-the-css-for-specific-pages-or-posts/

If you rename the class "home-page-bg" in the css and markup to "home", then we can have the desired effect in the site without need of custom coding.

[2017-12-13 12:30] WillMorrisJulien opened #105 "Post page (default)"
To answer readability issues with regard to the white heading type. I created a modification to the css style.

 - [x] Heading : #000000
 - [x] Body, Author, Sub heading : #1a1a1a
 - [x] Hashtag : #e51538
 - [x] The top gradient overlay is at : 30% alpha/transparency
 - [x] Gradient start colour : #074365 end colour is #FFFFFF (alpha 0%)
 - [x] The background image is at : 30% alpha/transparency

[2017-12-13 13:40] viniromualdo opened #106 "Take Action Page / Tasks Block"
Colors have been updated according to official palette.
Latest file is up in Drive ([take_action_all_screens_light_v2](https://drive.google.com/open?id=0B6J-QWxbAW55ZV9IdUJyeDNrTWM))

**Interaction behavior**
S + M screens: works like an accordion, so default starts with the first task expanded, all rest collapsed. Tapping on collapsed task causes it to expand and reveal inner paragraph and Call t

[2017-12-13 17:30] Kluny commented on #106
@Kluny here. Is @ashish173 still trying to make it work?

[2017-12-13 18:02] #104 closed

[2017-12-13 18:22] #99 closed

[2017-12-13 18:26] #95 closed

[2017-12-13 18:41] #85 closed

[2017-12-13 19:13] #69 closed

[2017-12-13 19:36] mikeselander commented on #86
@viniromualdo can you please take a look at the title sizing & spacing on the Issues page and let me know how it looks to you? I've adjusted all of the titles and blocks to use the same vertical spacing and want to ensure it looks OK to you.

The other video feedback has been addressed.

Note, the titles feedback also closely relates to #82

[2017-12-13 19:48] kadamwhite commented on #84
Repurposing this as a catch-all for carousel improvements

Design:
![image](https://user-images.githubusercontent.com/442115/33958534-a04813d2-e012-11e7-8ce4-e23d798ef522.png)

TODO

- [ ] Right-side image should not be skewed
- [ ] On slide transition, left-side image & text should fade out
- [ ] On slide transition, right-side image should slide to left
- [ ] On slide transition, left-side text

[2017-12-13 19:52] mikeselander commented on #67
@koyan  I think that I have a grasp on this now and we should be OK on both points.

We're OK on this point - the background image element is _in_ the page header element, but it's height is only tied to the width of the page, and not the height of the page header. This can be proven with the following Gif below - I remove all of the header elements (thus collapsing the header), but the background

[2017-12-13 19:54] #83 closed

[2017-12-13 22:50] Kluny commented on #105
This change does improve readability of the body text, but tags still quite hard to read. May I suggest yellow for the tags that are now in red, and use the red for the #saveourtuna hashtag (in screenshot), as well as increasing the font weight and size?

![screen shot 2017-12-13 at 14 11 19](https://user-images.githubusercontent.com/310102/33966494-a5ae645a-e014-11e7-9195-1146453b7bb9.png)

[2017-12-14 08:04] koyan commented on #67
Thanks @mikeselander , that makes more sense. To confirm, you are talking about these lines, correct?
https://github.com/greenpeace/planet4-presentation-layer/blob/master/act.html#L728-L730

[2017-12-14 08:26] WillMorrisJulien commented on #105
Hi Kluny, The 'Take action cover' block is a separate block and has been done. This piece of work is just for the main page (The background, overlay, body copy, Title and header tags). Which it looks like you have done. :)

[2017-12-14 09:47] viniromualdo commented on #106
@Kluny , I believe he was finishing styling it, but having difficulties to make it work with a single markup.
I need to know if this is achievable or not, so I can redesign S + M interactions if necessary.
Is someone helping @ashish173 , @mcshanea ?

[2017-12-14 10:53] ashish173 commented on #106
@viniromualdo Yes, I have been working on the larger screens styling, had a chat with @Kluny yesterday and agreed that she'd continue from where I leave today.

[2017-12-14 12:37] koyan opened #111 "WP pages. Accomodate for text added directly in the body"
All tests and css until now is directed in blocks that have been added using shortcake. But editors are bound to add text directly in the content of the page (as our own editors have repeatedly done. Check : https://dev.p4.greenpeace.org/press-centre/ )
Wordpress adds any text directly in <p> elements on the same level as the blocks are:
![screen shot 2017-12-14 at 14 30 06](https://user-images.gi

[2017-12-14 16:53] mikeselander commented on #67
@koyan yup - that is it!

[2017-12-14 16:55] mikeselander commented on #105
Are you happy for this to be closed out then @WillMorrisJulien?

[2017-12-14 17:27] viniromualdo commented on #106
Fantastic, thanks for letting me know and please keep me posted

[2017-12-14 19:54] mikeselander commented on #68
@WillMorrisJulien can we talk about these changes when you're on? I'm not clear on some of this feedback.

[2017-12-14 21:49] WillMorrisJulien commented on #105
I think so. Is there a link for me to review?

[2017-12-14 22:24] #105 closed

[2017-12-15 00:11] viniromualdo opened #117 "Post page / Header"
On link (in hot pink) above the top title, substitute "content type" info (POST • ...) by "article type" info (i.e.: STORY • ...)

It should still be linked and clicking on it take the users to a refined search result page with the "article type" filter applied to it.

Remember there's only 3 article types: Press release, Story and Publication.
Here's a mocked up example:
![header_postsxl](https:/

[2017-12-15 00:35] mikeselander commented on #117
Hey @viniromualdo did you mean to open this against the [Theme repo](https://github.com/greenpeace/planet4-master-theme)?

[2017-12-15 05:00] Kluny commented on #106
I made a little progress with the medium template. The mobile/small one looks really good.

Question: in the AI file there's a yellow "share" button under the steps, in the current html this isn't there and there's an orange "add this to my action list" button instead. Could you confirm that the yellow "Share" button is what we want?

I had some more questions about step visibility behaviour, but

[2017-12-15 13:21] WillMorrisJulien opened #120 "Media block"
Hi @mikeselander can you update this media block image in the presentation layer
![block](https://user-images.githubusercontent.com/34244772/34043926-dc67fc5e-e19a-11e7-92ce-08055a2f59fc.png)

[2017-12-15 13:32] mcshanea commented on #120
https://github.com/greenpeace/planet4-presentation-layer/pull/121

[2017-12-15 13:33] #120 closed

[2017-12-15 20:32] mikeselander commented on #60
I've gone through several blocks on this page and fixed what is still pertinent, but quite a bit is out of date at this point. I would recommend merging what we have fixed, and then having you co back through the site @viniromualdo.

The pending fixes are #110, #118 #123, #124, and #125.

[2017-12-15 21:21] #51 closed

[2017-12-15 21:54] #68 closed

[2017-12-15 22:33] #81 closed

[2017-12-15 22:33] #82 closed

[2017-12-18 08:59] ashish173 opened #127 "Difference in posts and evergreen pages"
This issue would list all the differences and similarities in the posts page and evergreen page.

[2017-12-18 20:47] mikeselander opened #128 "Search Feedback"
- [ ] The main tag in a search result should be capitalized in CSS, instead of the markup
 - [ ] Tag links on search results should be buttons, not a links
 - [ ] Download action button should be an `<a>` tag, not a button element

See #98 for context.

cc @angtheod

[2017-12-19 18:51] mikeselander commented on #67
I'm going to go ahead and close this issue out for now - let us know if there's any more questions @koyan

[2017-12-19 18:51] #67 closed

[2017-12-19 18:53] mikeselander commented on #43
This is being addressed in #110 and should be closed shortly.

[2017-12-19 18:57] mikeselander commented on #77
@viniromualdo I'm unclear if this is the main slider at the top of the page or the one before the News block on the homepage. Can you clarify?

If it is the main slider at the top of the page I recommend closing in favor of #84

[2017-12-19 18:58] mikeselander commented on #106
@Kluny can you please update this ticket with some progress information and estimations?

[2017-12-19 18:59] Kluny commented on #106
From my notes on the PR:

Broke @viniromualdo's spec down into this task list:

√ S + M screens: works like an accordion, so default starts with the first task expanded,

√ all rest collapsed.
√ Tapping on collapsed task causes it to expand and reveal inner paragraph and Call to action (btn, img...).
√ The previously expanded tasks remain expanded unless intentionally collapsed back.

TODO: Style

[2017-12-19 19:01] mikeselander commented on #18
This should be considered an optimization and really isn't required for the MVP - punting to Post-MVP.

[2017-12-19 19:02] mikeselander commented on #27
This is mostly complete and has been addressed as we have gone through and fixed the various parts of the codebase. I'm going to mark this as Post-MVP to clean up remaining random color codes.

[2017-12-19 19:03] mikeselander commented on #29
This is not required for the MVP but _should_ be addressed before merging this codebase in with the theme.

[2017-12-19 19:04] mikeselander commented on #94
I'm actually going to close this issue. The workflow that we have laid out in the README is inefficient, but works well enough for the MVP.

[2017-12-19 19:04] #94 closed

[2017-12-19 19:05] mikeselander commented on #86
I'm going to close this issue for clarity. Please open another issue if problems remain.

[2017-12-19 19:07] mikeselander commented on #84
The above comment has a checklist that can be followed for updates on progress. Marking as required for MVP and @kadamwhite can provide any further updates.

[2017-12-19 19:07] mikeselander commented on #19
This should be considered an optimization and really isn't required for the MVP - punting to Post-MVP.

However, I highly recommend addressing the file organization issues after the MVP.

[2017-12-19 19:09] mikeselander commented on #60
The only blocker on this issue is #110 which I expect to be closed shortly.

I'm going to mark that PR as auto-closing this issue and we can harvest additional homepage feedback in future issues.

[2017-12-19 19:14] mikeselander commented on #127
This looks to me like a Post-MVP priority issue, but I don't have enough context to make that call. Can @koyan please review this and label it as `MVP` or `Pot-MVP`?

[2017-12-19 19:17] mikeselander commented on #111
@koyan does this need to be done for the MVP?

The fix is relatively simple (wrap everything in a single container div) but I'm afraid that we'll see a lot of regressions in spacing for the individual blocks which will take time to identify and fix.

[2017-12-19 19:47] mikeselander commented on #78
I am going to write up notes on this topic - I do think that CSS variables are the way to move forward on the editable colors.

However, I'm not sure how much of a problem this currently is in the theme and whether it's an MVP or Post-MVP task. Can you add some insight @koyan?

[2017-12-19 23:32] angtheod opened #129 "Slick slider issue in Publications"
Hello all, slick slider does not show up well in Content Four Column block (Publications). See [here](https://dev.p4.greenpeace.org/international/tag/fix-food/).
This appeared after applying these JS [changes](https://github.com/greenpeace/planet4-presentation-layer/pull/103/files#diff-8db7fbd6ca8e39de39a775fb7785c346R155) on settings of the slick slider

[2017-12-20 07:07] koyan commented on #127
@mikeselander we need to deliver the evergreen pages for the MVP. Because they were very close to design to the post pages, Ashish was asked by Adrian to compare them and see what changes we could do from the post template to create a page-templage in wp to use that one.

[2017-12-20 07:24] viniromualdo commented on #117
Sorry @mikeselander I missed you comment here. I'm closing this issue here but I've re-opened it in master-theme, so our devs will take care of it! Thanks

[2017-12-20 07:24] #117 closed

[2017-12-20 07:26] ashish173 commented on #127
@kadamwhite @mikeselander @pdewouters @mcshanea @mcshanea I have added my feedback about reusing posts page and evergreen page, please feel free to give your feedback on it, as this is very much going to be the MVP release as cleared by @koyan Thanks!

[2017-12-20 09:11] ashish173 commented on #127
I had a discussion with @koyan and @tolen and the decision for now is to not implement the evergreen page fully. we do not have time to build the evergreen markup/css , so for Prototype we are going to go with design exactly the same (minus the author box) of the post page.

Changing the label to `post-mvp`

[2017-12-20 09:24] viniromualdo commented on #106
@Kluny functionally on mobile works great, but it seems to me that you've been looking at an outdated file in terms of styling. You should be looking at the latest one I've initially pointed above (take_action_all_screens_light_v2), so there's a few style updates there.
![tasks](https://user-images.githubusercontent.com/12191933/34197205-b65676c0-e565-11e7-8cb7-2bea86559884.jpg)

From the checklis

[2017-12-20 09:38] angtheod opened #130 "Unenecessary bullet after Issue name in Campaign page"
Hello,
if I am not mistaken the ::after content which shows the bullet after the Issue name in Campaign page is not needed, since we are not displaying anything else after the Issue name. It is needed in other pages though (eg. Take Action pages) where we display campaign tags after the Issue name.

ref
https://dev.p4.greenpeace.org/international/tag/no-plastics/

[2017-12-20 09:45] angtheod commented on #129
No idea who to assign this to, so I'll leave it to you guys :)

[2017-12-20 09:49] koyan commented on #130
Explanation: The same markup is used in both cases. In some pages we do have tags to show. But in other pages (like the tag page itself), we have nothing to show after. So the bullet should only appear if needed.

[2017-12-20 10:04] viniromualdo commented on #77
@mikeselander , apologies for the confusion. I was referring to terms I saw on a [image sizes spreadsheet](https://docs.google.com/spreadsheets/d/1cjFhLrD72e5cLmjg88IcEnVz6oErOO8-K_xnP3RbY5A/edit#gid=1485408450) , I just realized now they are using different name conventions (which is not good).

HP Slide = Carousel Split Block (aka the one before the News block)
Take Action Slide = Carousel Block

[2017-12-20 14:27] viniromualdo commented on #86
@mikeselander each screen size should have a specific margin-bottom for all Block titles, not one single margin-bottom to rule them all hehe. I also noticed all Block titles became medium weight (500), they should be still bold (unless someone else requested this change).

I'm working on a Type chart to normalize type style and spacing all across the website, which I'm hoping to finish by tomorrow

[2017-12-20 17:36] mikeselander opened #132 "Header Markup Feedback"
- There’s no transitioning the menu in and out which is jarring. This is also a problem for the desktop language dropdown
- On mobile, the homepage carousel dots show over the menu
- On mobile, the X has no hover state
- On mobile, I want to use the ESC key to exit but can’t (not a blocker)
- On desktop, the Donate button feels a bit too large
- On desktop, there is a pixel of open space between t

[2017-12-20 17:37] #43 closed

[2017-12-20 17:37] #60 closed

[2017-12-20 17:46] Kluny commented on #106
Thanks @viniromualdo! The page you linked to (https://greenpeace.github.io/planet4-presentation-layer/) is not up to date with what's in the current pull request, so we have progressed beyond that, but that feedback and the screenshots are helpful anyway.

Are you able to pull the current branch and run it locally to see the same thing as what I'm looking at? If not I'll post screencaps in a bit.

[2017-12-20 17:52] mikeselander commented on #86
@viniromualdo unfortunately I don't really have working hours left with you guys but I re-opened this Issue to ensure that someone catches this feedback :)

[2017-12-21 00:38] Kluny commented on #106
Here's where we're at now. It's not what I'd like it to be, but it's closer. I focussed on functionality while trying to incorporate as many as possible of those late design changes.

(30 second video) https://imgur.com/a/pGUMo

[2017-12-22 09:07] ashish173 opened #135 "Take action box design is not consistent on mobile screen for 514px range."
![screen shot 2017-12-22 at 2 36 06 pm](https://user-images.githubusercontent.com/2052071/34292150-9fc03d44-e725-11e7-973c-c12f5d15c2f1.png)

The button placement is not consistent should be centred or should take the full width.

[2017-12-29 11:00] ashish173 opened #137 "Weird space is left under content on post page and besides the take action boxout block"
In my understanding it was assumed that the content would be a 2 part thing and the first is besides the take action boxout and the other starts only after the lowest point of take action boxout. This is however now the correct behaviour. @tolen reported this issue.
---------------------------------------------
**Issue Snapshot**
![screen shot 2017-12-29 at 4 02 17 pm](https://user-images.githubus

[2018-01-02 14:24] kirdia commented on #129
Fixed with this [PR](https://github.com/greenpeace/planet4-master-theme/pull/156)

[2018-01-02 14:26] #129 closed

[2018-01-04 12:53] comzeradd commented on #132
I converted the items to checklist so we can track the progress.